body{
    display: flex;
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;

}
.container{
    width: 500px;
    border-radius: 10px;
    background-color: #0F67B1;
    border-color: black;
    padding: 10px;
}
h1{
    text-align: center;
}
li{
    background-color: #96C9F4;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    width: 88%;
    align-items: center;
}
span{
    padding:20px;
    background-color: rgb(122, 230, 247);
    border-radius: 10px 0 0px 10px;
}